<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarefas</title>
</head>
<body>
    
    <header>
        <!-- Cabeçalho da página contendo o título e o input para inserir tarefa-->
        <h1 id="titulo-lista-tarefas">LISTA DE TAREFAS</h1>

        <form action="/add" method="POST">
            <input type="text" id="tarefa" name="tarefa" placeholder="Digite a tarefa..." />
            <!-- <textarea id="descricao_tarefa" name="descricao_tarefa"></textarea> -->
            <input type="submit" value="Adicionar" />
        </form>

    </header>
    
    <ul>
        <% for (tarefa of tarefas) { %>
            <li> 
                <% if (tarefa.feito) { %>
                    <del> <%= tarefa.id %> | <%= tarefa.texto %> | 
                        <%= tarefa.dataCriacao.toLocaleDateString('pt-BR') %> 
                    </del>
                <% } else { %> 
                    <%= tarefa.id %> | <%= tarefa.texto %> | 
                    <%= tarefa.dataCriacao.toLocaleDateString('pt-BR') %> 
                <% } %>   
            </li>
        <% } %>
    </ul>


</body>
</html>